<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">

	<title>武汉理工大学化学化工与生命科学学院
</title>
	<!--<link rel="stylesheet" type="text/css" href="../controller/dist/css/bootstrap.min.css">-->
	<link rel="stylesheet" type="text/css" href="../static/css/children.css">
	<link rel="stylesheet" type="text/css" href="../static/dist/css/font-awesome.min.css">

</head>

<body>

	<div id="header">
		<div class="head">
  
    <div class="search">
        <input type="text">
        <button>
            <i class="fa fa-search"></i>
        </button>
    </div>
    <div class="guide">
        <div class="item0">
            <a href="index.html">首页</a>
        </div>
   
        <div class="item1">
            <a href="children.html">学院概况</a>
            <div class="dropdown1">
                <a href="children.html">学院简介</a>
                <a href="children.html">学院简介</a>
                <a href="children.html">学院领导</a>
                <a href="jigou.html">组织机构</a>
                <a href="children.html">工作职责</a>
                <a href="children.html">联系我们</a>
            </div>
        </div>
      
        <div class="item2">
            <a href="children.html">党政工作</a>
            <div class="dropdown2">
                <a href="children.html">人事工作</a>
                <a href="children.html">党建工作</a>
                <a href="children.html">工会教代会</a>
                <a href="children.html">理论学习</a>
                <a href="children.html">规章制度</a>
                <a href="banshi.html">办事流程</a>
            </div>
        </div>
        
        <div class="item3">
            <a href="children.html">师资队伍</a>
            <div class="dropdown3">
                <a href="children.html">杰出人才</a>
                <a href="children.html">教授风采</a>
                <a href="children.html">教学名师</a>
                <a href="children.html">硕士生导师</a>
                <a href="children.html">博士生导师</a>
            </div>
        </div>
     
        <div class="item4">
            <a href="children.html">本科生培养</a>
            <div class="dropdown4">
                <a href="children.html">专业介绍</a>
                <a href="children.html">培养方案</a>
                <a href="children.html">质量工程</a>
                <a href="children.html">在线开放课程</a>
                <a href="children.html">管理制度</a>
                <a href="children.html">表格下载</a>
                <a href="banshi.html">办事流程</a>
            </div>
        </div>
     
        <div class="item5">
            <a href="">研究生培养</a>
            <div class="dropdown5">
                <a href="children.html">学科点介绍</a>
                <a href="children.html">学位授予</a>
                <a href="children.html">管理制度</a>
                <a href="children.html">表格下载</a>
                <a href="banshi.html">办事流程</a>
            </div>
        </div>
     
        <div class="item6">
            <a href="children.html">学术科研</a>
            <div class="dropdown6">
                <a href="children.html">学术动态</a>
                <a href="children.html">科研管理文件</a>
                <a href="children.html">科研团队</a>
                <a href="children.html">科研立项</a>
                <a href="children.html">科研成果</a>
                <a href="children.html">表格下载</a>
                <a href="banshi.html">办事流程</a>
            </div>
        </div>
      
        <div class="item7">
            <a href="children.html">学生工作</a>
            <div class="dropdown7">
            	<a href="children.html">学生园地</a>
                <a href="children.html">招生与就业</a>
                <a href="children.html">团学工作</a>
                <a href="children.html">学生社团</a>
                <a href="children.html">菁华化苑</a>
                <a href="children.html">创新创业</a>
                <a href="children.html">管理制度</a>
                <a href="banshi.html">办事流程</a>
            </div>
        </div>
       
        <div class="item8">
            <a href="children.html">校友会</a>
            <div class="dropdown8">
                <a href="children.html">校友动态</a>
                <a href="children.html">校友风采</a>
                <a href="children.html">杰出校友</a>
                <a href="children.html">联系我们</a>
            </div>
        </div>
      
        <div class="item9">
            <a href="children.html">信息公开</a>
        </div>
    </div>
</div>
	</div>

	<div class="container">
		<div class="content">
			<div class="guide-c">
				<div class="guide-head">实验室安全</div>
				<div class="child">
					<div class="img1"></div>实验室准入考试</div>
				<div class="child active">
					<div class="img2"></div>规章制度</div>
				<div class="child">
					<div class="img3"></div>安全检查简报</div>
				<div class="child">
					<div class="img4"></div>安全知识</div>
				<div class="child">
					<div class="img5"></div>办事流程</div>
				<div class="child">
					<div class="img6"></div>文件下载</div>
			</div>
			<div class="main-content">
				<div class="teach active1">
					<h2>实验室安全</h2>
					<hr>
					<div class="con">
						<a href="article.html">【规章制度】实验室规章制度</a>
						<div class="time">[2016-11-6]</div>
					</div>
					<div class="con">
						<a href="article.html">【规章制度】实验室规章制度</a>
						<div class="time">[2016-11-6]</div>
					</div>
					<div class="con">
						<a href="article.html">【规章制度】实验室规章制度</a>
						<div class="time">[2016-11-6]</div>
					</div>
					<div class="con">
						<a href="article.html">【规章制度】实验室规章制度</a>
						<div class="time">[2016-11-6]</div>
					</div>
					<div class="con">
						<a href="article.html">【规章制度】实验室规章制度</a>
						<div class="time">[2016-11-6]</div>
					</div>
				</div>
                <ul class="jump">
                <script type="text/javascript">
                    var currentPage=0;
                    var countPage=175;
                    var prePage=currentPage-1;
                    var nextPage=currentPage+1;
                    var headPage="children"+"."+"html";
                    var tailPage="children_"+(countPage-1)+"."+"html";
                    if(countPage>1&&currentPage!=0&&currentPage!=1){
                        document.write("<li><a href=\"children.html\">首页</a></li><li><a href=\"children_"+prePage+".html\">首页</a></li>");
                    }
                    else if(countPage>1&&currentPage!=0&&currentPage==1){
                        document.write("<li><a href=\"children.html\">首页</a></li><li><a href=\"children.html\">上一页</a></li>");
                    }
    
                    else
                         document.write("<li><a>首页</a></li><li><a>上一页</a></li>");
                    var num=4;
                    for(var i=0+(currentPage-1-(currentPage-1)%num) ; i<=(num+(currentPage-1-(currentPage-1)%num))&&(i<countPage) ; i++)
                    {
                         if(currentPage==i)
                               document.write("<li class=\"active2\"><a>"+(i+1)+"</a></li>");
                         else if(i==0){
                                 document.write("<li><a href=\"children.html\">"+1+"</a></li>");
                         }
                         else 
                                 document.write("<li><a href=\"children"+"_" + i + "."+"html\">"+(i +1)+"</a></li>");
                    }
                    if(countPage>1&&currentPage!=(countPage-1))
                            document.write("<li><a href=\"children"+"_" + nextPage + "."+"html\">下一页</a></li><li><a href=\"children_" + (countPage-1) + ".html\">尾页</a></li>");
                    else
                            document.write("<li><a>下一页</a></li><li><a>尾页&nbsp</a></li>");                   
                </script>
               
                    <!--<li ><a href="">首页</a></li>
                    <li ><a href="">上一页</a></li>
                    <li class="active2"><a href="">1</a></li>
                    <li><a href="">2</a></li>
                    <li><a href="">3</a></li>
                    <li><a href="">4</a></li>
                    <li><a href="">5</a></li>
                    <li ><a href="">下一页</a></li>
                    <li><a href="">尾页</a></li>-->
                </ul>
                <div class="jump1">跳至<input type="text">页<button class="jump2">跳转</button></div>
			</div>

		</div>
	</div>
	<div id="footer">
		<div class="footer">
   
   <div class="foot0"> &#169;武汉理工大学化学化工与生命科学学院</div>
    <div class="foot1">Powered by Token团队</div>
    <div class="wx">
        <img src="../static/images/wx.jpg" alt="">
    </div>
    <div class="word">官方公众号</div>
</div>
	</div>
	<script type="text/javascript" src="../static/js/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="../static/js/jump.js"></script>
	<script type="text/javascript" src="../static/js/top.js"></script>
	<script type="text/javascript">
		var scrollFunc = function (e) { 
			e = e || window.event; 
			if (e.wheelDelta && event.ctrlKey) { //IE/Opera/Chrome
				  
				event.returnValue = false; 
			} else if (e.detail) { //Firefox
				  
				event.returnValue = false; 
			} 
		}  /*注册事件*/  
		if (document.addEventListener) { 
			document.addEventListener('DOMMouseScroll', scrollFunc); 
		} //W3C
		 
		window.onmousewheel = document.onmousewheel = scrollFunc; //IE/Opera/Chrome/Safari
	</script>
</body>

</html>